{% load static %}




<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    
	<title>Option Page</title>
<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery.min.js' %}"></script>
<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet" id="bootstrap-css">
 
    <!--Fontawesome CDN-->
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"  >

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all2.css' %}">
    <script src="{% static 'js/myscript.js' %}"></script>
    <style>
        body{
            background-image: url('{% static 'images/b2.jpg' %}');
        }
    </style>
	
</head>

<body >
	 


<div class="container" >
	
	<!-- <div id="doctor"></div> -->
		<div class="d-flex justify-content-center h-100  option-doctor">
	
		<div class="card" style="width: 50rem; height: 35rem;">
			<div class="card-header">
				<h4>Welcome Doctor: <b> {{user.first_name}} </b>   <a href="login">Logout</a></h4>
				<hr>
				<h3>Choose one of them</h3>
			</div>
			
			<div class="card-body" style="margin-bottom: 20px;">
				<!-- text box-->
					<!-- password box-->
				 
				<div class="input-group form-group">
						 
                         
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'bipolar';">bipolar</button>
						 
				   
					   
					
				</div>
                            
            </div>
				
				
            <div class="card-body" >
				<!-- text box-->
					<!-- password box-->
				 
				<div class="input-group form-group">
				   
					   
					
				</div>
                            
            </div>
                    <!-- button -->
					
				 
			</div>
			
			<div class="card-footer">
				 
				
			</div>
		</div>
	</div>
	 </div>
<div>
	{% for message in messages %}
	<h6>{{message}}</h6>
	{% endfor %}
</div>
</body>
